:root {
  --text-color: #141301;
  --header-color: #578FCA;
}

.App {
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
}

.title {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
}

nav.small ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  flex-direction: row;
  width: 100%;
  list-style: none;
  font-size: 0.8em;
}

nav.big ul {
  margin: 0;
  padding: 0;
  padding-top:10px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  flex-direction: row;
  width: 100%;
  list-style: none;
  font-size: 0.6em;
  font-family: "Karla", sans-serif;
}

li {
  flex-grow: 1;
  text-align: center;
}

.small {
  display: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 100px;
  background-color: var(--header-color);
  padding: 10px;
  margin: 0;
  font-size: 2em;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1024px) {
  /* mobile mode*/
  .big {
    display: none;
  }

  .small {
    display: block;
  }

  footer {
    border-radius: 20px 20px 0 0;
    background-color: #e1e1e1;
  }
}

.schedule {
  display: none;
}

@media (min-width: 1024px) {
  /* desktop mode*/
  .schedule {
    display: block;
  }

  footer {
    border-radius: 0;
    /* background-color: #f0f0f0; */
  }
}

li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  text-decoration: none;
  color: var(--text-color);
}

.feedback-container {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 20px 20px 20px;
}

footer {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  /* background-color: ; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  background-color: #ffffff;
}

.git-copy {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}

.line {
  height: 1px;
  background-color: #d9d9d9;
  width: 1200px;
}
