.page-container {
    display: flex;
    width: 100%;
    height: auto;
}

.sidebar {
    width: 300px;
    background: #f5f5f5;
    border: solid 2px;
    border-collapse: collapse;
    padding: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar-table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar-table th {
    padding: 10px 20px;
    font-size: 20px;
}

.sidebar-table tr {
    border-bottom: 2px solid;
}

.sidebar-table td {
    padding: 8px 12px;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    min-width: 0;
    overflow: hidden;
}

.map-container {
    flex: 999;
    overflow: scroll;
}

@media screen and (max-width: 768px) {
    .sidebar-table tbody tr:last-child {
	border-bottom: none;
    }
    
    .sidebar {
	width: 100%;
    }
    
    .page-container {
	flex-direction: column;
	justify-content: center;
    }

    .main-content {
	flex-direction: column;
	width: 100vw;
    }

    .map-container {
	width: 90%;
	height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .main-content {
	flex-wrap: wrap;
    }

    .map-container {
	min-width: 60%;
    }
}
