/* Regular view > 1025px */
.word-rotator {
    color: #206ef9;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #206ef9;
    font-weight: 700;
}

/* Wrapper covers the whole about page section */
.about-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #FFF 0%, rgba(174, 195, 254, .8) 100%);
}

.about-left {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.about-left p {
  margin: 0px;

}

.about-left h1 {
  margin: 0px;
}

/* Top small text */
.about-small-title {
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 20px;
}

/* Main header text */
.about-main-header {
  font-size: 4rem;
  padding-left: 20px;
}

/* Description text */
.about-description {
  padding: 20px 0px 0px 20px;
}

.about-description h1 {
  font-size: 1.2rem;
  font-weight: 500;
}


.about-description p {
  font-size: 1rem;
  font-weight: normal;
}


.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image styling */
.about-image {
  width: 70%;
  border-radius: 15px;
  border: 5px solid #436F9F;
  object-fit: cover;
}

.link1{
    margin-left: .6ch;
}

/* Mobile responsiveness */
@media (max-width: 1025px) {
  /* Stack vertically */
  .about-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about-left, .about-right {
    flex: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .about-small-title {
    font-size: 1.2rem;
    padding-left: 0;
  }

  .about-main-header {
    font-size: 2.5rem;
    padding-left: 0;
  }

  .about-description {
    padding: 15px 20px;
  }

  .about-description h1 {
    font-size: 1rem;
  }

  .about-description p {
    font-size: 0.9rem;
  }
  .about-image {
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
