/* Regular view > 1025px */
.word-rotator {
    color: #206ef9;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #206ef9;
}



.about {
    padding: 10px;
}

.link1{
    margin-left: .6ch;
}

.about h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: left;
    
}
.about p {
    font-size: 1.3em;
    text-align: left;
    padding: 5px;

}

.about .current-word,
.about .next-word {
    /* text gradient */
    background: linear-gradient(to right, var(--header-color), #206ef9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: bold;
}

@media (max-width: 1025px){
    /* Mobile View < 1025px */

    .about {
        padding: 20px;
    }
    .about h1 {
        font-size: 30px;
        margin:0;
    }

    .about p {
        font-size: 1em;
    }
}

