.header {
    width: 90%;
}

.data-table {
    width: 30vw;
}

.table-map-sidebyside {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
}

@media (max-width: 768px){
    .table-map-sidebyside {
	flex-direction: column-reverse;
    }

    .data-table {
	width: 80vw;
    }
    
}
