.live-location-div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 90%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.schedule-table {
    display: none;
}


@media (min-width: 1025px) {
    .schedule-table {
	display: block;
    }
}

