.schedule-scroll {
    padding: 10px 15px;
    overflow: scroll;
    border-style: solid;
    border-width: thin;
    margin-bottom: 0;
    height: calc(50vh - 150px);
    min-width: 250px;
}

.schedule-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.schedule-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.indented-time {
    padding-left: 20px;
}

.schedule-dropdown-style {
    padding: 5px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
}

th.schedule-header {
    text-align: left;
}

h2 {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size:30px;
    margin-bottom: 10px;
    margin-top:10px
}

label {
    font-family: "Karla", sans-serif;
    font-size: 20px;
}