.am-tag {
    border-radius: 15px;
    padding: 3px 5px;
    background-color: yellow;
    text-align: center;
}

.pm-tag {
    border-radius: 15px;
    padding: 3px 5px;
    background-color: blue;
    text-align: center; 
}
