# .github/workflows/production.yml
name: Deploy to Production

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy-to-dokku.yml
    with:
      branch: main
      environment: production
    secrets:
      dokku_host: ${{ secrets.DOKKU_HOST_PRODUCTION }}
      dokku_app: ${{ secrets.DOKKU_APP_PRODUCTION }}
      ssh_key: ${{ secrets.DOKKU_SSH_KEY_PRODUCTION }}
